body {
  background-color: #eee;
  font-family: sans-serif;
}

#compose {
  border: 1px solid black;
  max-width: 300px;
  padding: 3px;
}

.input {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: -1px;
  padding-bottom: 5px;
}

.input input.text {
  width: 150px;
  float: right;
}

.input textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.post {
  border: ridge black;
}

.title {
  color: #5a5;
}

.name {
  color: #a55;
  font-weight: bold;
}

.post-head {
  border-bottom: 1px solid black;
}
