html {
  height: 100%;
}

body {
  /* background-color: #ddd; */
  font-family: sans-serif;
  height:100%;
  margin: 0;
  background: -webkit-linear-gradient(#ccc, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ccc, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ccc, #eee); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(#ccc, #eee); /* Standard syntax */
}

hr {
  color: #111;
  background-color: #111;
}

#compose {
  border: 1px solid black;
  max-width: 350px;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
}

span.upload_notice {
  font-size: xx-small;
}

.input {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: -1px;
  padding-bottom: 5px;
}

.input input.file {
  float: right;
}

.input input.text {
  width: 150px;
  float: right;
}

.input textarea {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.post {
  border: 1px solid black;
  padding: 3px;
  background-color: #ccc;
}

.post .child {
  background-color: #d5d5d5;
  margin-bottom: 5px;
}

.title {
  color: #5a5;
}

.name {
  color: #a55;
  font-weight: bold;
}

.post-head {
  border-bottom: 1px solid black;
}
