{% extends "layout.html" %}
{% block title %}{{ board }}{% endblock %}
{% block body %}
  <ol id="posts">
  {% for post in post_list %}
    <div class="post">
      <li id="{{ post.number }}">
        <div class="post-head">
          {{ post.number }} - 
          <span class="title">{{ post.title }}</span> 
          <span class="name">{{ post.name }}</span><br/>
        </div>

        <span class="content">{{ post.content }}</span>
      </li>
    </div>
  {% endfor %}
  </ol>
{% endblock %}
