{% extends "layout.html" %}
{% block title %}{{ board }}{% endblock %}
{% block body %}
  {% block compose %}
  <div id="compose">
  {% if number %}
  <form method="post" action="{{ url_for('respond', board=board, number=number) }}" enctype="multipart/form-data">
  {% else %}
  <form method="post" action="{{ url_for('newthread', board=board) }}" enctype="multipart/form-data" >
  {% endif %}
  <div class="input"><b>Title: </b><input class="text" type="text" name="title"/></div>
  <div class="input"><b>Name: </b><input class="text" type="text" name="name"/></div>
  <div class="input"><b>Message: </b><br/><textarea name="content"></textarea></div>
  <div class="input"><b>File: </b><input class="file" type="file" name="image"/></div>
  <div class="input"><input type="submit"/></div>
  <span class="upload_notice">Title and name are optional. Message OR file must not be empty.</span>
  </form>
  </div>
  {% endblock %}
  <hr />
  <ol id="posts">
  {% for id, post in post_list.iteritems() %}
    {% if not post.parent %}
    <li>
      <div class="post" id="{{ id }}">
        <div class="post-head">
        {{ id }} - 
        <span class="title">{{ post.title }}</span> 
        <span class="name">{{ post.name }}</span>
        <span class="time">{{ post.post_time }}</span>
        </div>
        {% if post.image_src %}
        <a href='{{ post.image_src }}'>
        <span class="image"><img src='{{ post.image_src|thumbnail() }}' /></span></a>
        {% endif %}
        <span class="content">{{ post.content }}</span>
        {% for childid, child in post.children.iteritems() %}
          <div class="post child" id="{{ childid }}">
            <div class="post-head">
            {{ childid }} - 
            <span class="title">{{ child.title }}</span> 
            <span class="name">{{ child.name }}</span>
            <span class="time">{{ child.post_time }}</span><br/>
            </div>
            <span class="content">{{ child.content }}</span>
          </div>
        {% endfor %}
      </div>
    </li>
    <hr />
    {% endif %}
  {% endfor %}
  </ol>
{% endblock %}
